# BorutaPy

https://www.kaggle.com/tilii7/boruta-feature-elimination#306039 

```'Hmm… Why should I trust this Boruta? I think it is clear by now that ps_calc features are useless since they have no correlation with the target. '…Tree based models/feature selection methods exploits NON-LINEAR relationships of independent variables with the target. Splitting criterion of trees is based on some impurity/entropy metric. Concepts like corelation apply to LINEAR models where the data is LINEARLY SEPARABLE!..Why should you trust it? Well, because if your data is not linearly separable then this one of the better options to do feature selection by, as, Boruta introduces shadow features into the model. By shadow features it means shuffling data within certain columns and reintroducing them into the dataset. Why do this? Because a variable is selected over n-iterations only after comparison with its shadow feature, ensuring that if it is selected, it is not as a result of randomness! This is my go-to method as opposed to evaluating feature importances from say a standalone RandomForest or GBM/XGBOOST/LGBM.```

Duration : ~ 10 hours

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [51]:
from src.dataset.data import Dataset
from src.features.build_features import *
from src.features.process_fold import *
from src.model.train import *

from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold
import lightgbm as lgb
from boruta import BorutaPy

import matplotlib.pyplot as plt

pd.options.display.max_rows = None
pd.options.display.max_columns = None

%matplotlib inline

In [4]:
ds = Dataset()
ds.load_dataset()
build_processed_dataset(ds)

In [5]:
X = ds.X_train.reset_index()
y = ds.y_train.reset_index()['isFraud']#.ravel()
X_test = ds.X_test.reset_index()

In [6]:
folds = KFold(n_splits=5, random_state=0, shuffle=False)

train_index, valid_index = list(folds.split(X))[0]
X_train, X_valid = (X.iloc[train_index], X.iloc[valid_index])
y_train, y_valid = y.iloc[train_index], y.iloc[valid_index]

fold = Fold(X_train, y_train, X_valid, y_valid, X_test, ds.categorical_cols)
process_fold(fold)

train = fold.X_train
labels = fold.y_train
train['isFraud'] = labels

Use Negative downsampling to speed up Boruta https://www.kaggle.com/c/ieee-fraud-detection/discussion/108616#latest-628955

In [15]:
frac = 0.2
t_ = pd.concat([train[train['isFraud']==1], train[train['isFraud']==0].sample(frac=frac, random_state=0)]).sample(frac=1, random_state=0)
labels = t_['isFraud']#.ravel()
t_.drop(['isFraud'], axis=1, inplace=True)
t_ = SimpleImputer(missing_values=np.nan, strategy="mean").fit_transform(t_)

In [16]:
train.shape

(472432, 426)

In [17]:
t_.shape

(108756, 425)

In [37]:
# define random forest classifier, with utilising all cores and
# sampling in proportion to y labels
rf = RandomForestClassifier(n_jobs=1, n_estimators=50, class_weight='balanced', max_depth=5)

In [38]:
# define Boruta feature selection method
feat_selector = BorutaPy(rf, n_estimators='auto', verbose=2, random_state=1)

In [39]:
# find all relevant features
feat_selector.fit(t_, labels)

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	425
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	302
Tentative: 	57
Rejected: 	66
Iteration: 	9 / 100
Confirmed: 	302
Tentative: 	57
Rejected: 	66
Iteration: 	10 / 100
Confirmed: 	302
Tentative: 	57
Rejected: 	66
Iteration: 	11 / 100
Confirmed: 	302
Tentative: 	57
Rejected: 	66
Iteration: 	12 / 100
Confirmed: 	310
Tentative: 	49
Rejected: 	66
Iteration: 	13 / 100
Confirmed: 	310
Tentative: 	49
Rejected: 	66
Iteration: 	14 / 100
Confirmed: 	310
Tentative: 	49
Rejected: 	66
Iteration: 	15 / 100
Confirmed: 	310
Tentative: 	45
Rejected: 	70
Iteration: 	16 / 100
Confirmed: 	312
Tentative: 	43
Rejected: 	70
Iteration: 	17 / 100
Confirmed: 	312
Tentative: 	43
Rejected: 	70
Iteration: 	18 / 100
Confirmed: 	312
Tentative: 	43
Rejected: 	70
Iteration: 	19 / 100
Confirmed: 	312
Tentative: 	43
Rejected: 	70
Iteration: 	20 / 100
Confirmed: 	312
Tentative: 	41
Rejected: 	72
Iteration: 	21 / 100
Confirmed: 	312
Tentative: 	41
Rejected: 	72
Iteration: 	22 / 100
Confirmed: 	314
Tentative: 	39
Rejected: 	72
Iteration: 	23 / 100
Confirmed: 	314
Tentative: 	39
Rejected: 	72
Iteration: 	24 / 100
Confirmed: 	314
Tentative: 	38
Rejected: 	73
Iteration: 	25 / 100
Confirmed: 	314
Tentative: 	38
Rejected: 	73
Iteration: 	26 / 100
Confirmed: 	314
Tentative: 	36
Rejected: 	75
Iteration: 	27 / 100
Confirmed: 	314
Tentative: 	36
Rejected: 	75
Iteration: 	28 / 100
Confirmed: 	314
Tentative: 	36
Rejected: 	75
Iteration: 	29 / 100
Confirmed: 	315
Tentative: 	35
Rejected: 	75
Iteration: 	30 / 100
Confirmed: 	315
Tentative: 	35
Rejected: 	75
Iteration: 	31 / 100
Confirmed: 	315
Tentative: 	35
Rejected: 	75
Iteration: 	32 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	33 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	34 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	35 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	36 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	37 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	38 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	39 / 100
Confirmed: 	315
Tentative: 	33
Rejected: 	77
Iteration: 	40 / 100
Confirmed: 	315
Tentative: 	32
Rejected: 	78
Iteration: 	41 / 100
Confirmed: 	315
Tentative: 	32
Rejected: 	78
Iteration: 	42 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	43 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	44 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	45 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	46 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	47 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	48 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	49 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	50 / 100
Confirmed: 	315
Tentative: 	31
Rejected: 	79
Iteration: 	51 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	52 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	53 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	54 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	55 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	56 / 100
Confirmed: 	315
Tentative: 	30
Rejected: 	80
Iteration: 	57 / 100
Confirmed: 	316
Tentative: 	29
Rejected: 	80
Iteration: 	58 / 100
Confirmed: 	316
Tentative: 	29
Rejected: 	80
Iteration: 	59 / 100
Confirmed: 	317
Tentative: 	28
Rejected: 	80
Iteration: 	60 / 100
Confirmed: 	317
Tentative: 	28
Rejected: 	80
Iteration: 	61 / 100
Confirmed: 	317
Tentative: 	28
Rejected: 	80
Iteration: 	62 / 100
Confirmed: 	317
Tentative: 	28
Rejected: 	80
Iteration: 	63 / 100
Confirmed: 	317
Tentative: 	28
Rejected: 	80
Iteration: 	64 / 100
Confirmed: 	317
Tentative: 	27
Rejected: 	81
Iteration: 	65 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	66 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	67 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	68 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	69 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	70 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	71 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	72 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	73 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	74 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	75 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	76 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	77 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	78 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	79 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	80 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	81 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	82 / 100
Confirmed: 	318
Tentative: 	26
Rejected: 	81
Iteration: 	83 / 100
Confirmed: 	319
Tentative: 	25
Rejected: 	81
Iteration: 	84 / 100
Confirmed: 	319
Tentative: 	25
Rejected: 	81
Iteration: 	85 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	86 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	87 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	88 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	89 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	90 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	91 / 100
Confirmed: 	320
Tentative: 	24
Rejected: 	81
Iteration: 	92 / 100
Confirmed: 	320
Tentative: 	23
Rejected: 	82
Iteration: 	93 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	94 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	95 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	96 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	97 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	98 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82
Iteration: 	99 / 100
Confirmed: 	321
Tentative: 	22
Rejected: 	82


BorutaPy finished running.

Iteration: 	100 / 100
Confirmed: 	321
Tentative: 	8
Rejected: 	82

BorutaPy(alpha=0.05,
         estimator=RandomForestClassifier(bootstrap=True,
                                          class_weight='balanced',
                                          criterion='gini', max_depth=5,
                                          max_features='auto',
                                          max_leaf_nodes=None,
                                          min_impurity_decrease=0.0,
                                          min_impurity_split=None,
                                          min_samples_leaf=1,
                                          min_samples_split=2,
                                          min_weight_fraction_leaf=0.0,
                                          n_estimators=523, n_jobs=1,
                                          oob_score=False,
                                          random_state=RandomState(MT19937) at 0x365B3E570,
                                          verbose=0, warm_start=False),
         max_iter=100, n_estimators='auto', perc=100,
         random_state=RandomState(MT19937) at 0x365B3E570, two_step=True,
         verbose=2)

In [40]:
print(feat_selector.n_features_)

321

In [41]:
# check selected features
print(feat_selector.support_)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True False  True  True  True
  True  True False False False  True  True  True  True  True  True False
 False  True  True  True  True  True  True  True  True  True  True  True
  True False False False False False False False  True  True  True  True
  True  True  True  True  True  True False  True  True  True  True False
 False  True  True  True  True  True False False False False False False
 False False False False  True  True False False False False False False
 False False  True  True  True False False  True  True  True  True False
  True  True  True  True False  True  True  True  True  True False  True
 False False  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True False False False False  True False False False False False
 False False False False False False False  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
 False False  True  True  True  True False  True False  True False  True
 False  True False  True False  True False  True False  True False  True
 False  True False  True False  True False  True False  True False  True
 False  True False  True False  True False  True False  True False  True
 False  True False  True False  True False  True False False False  True
 False  True False  True False  True False  True False  True False False
 False  True False  True False  True False  True False  True False  True
 False  True False  True False]

In [42]:
print(feat_selector.support_weak_)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False  True False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False False False False
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False  True False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False  True False False
  True False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False]

In [43]:
# check ranking of features
print(feat_selector.ranking_)

[ 1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  3  1  1  1
  1  1 17 17  2  1  1  1  1  1  1 42 37  1  1  1  1  1  1  1  1  1  1  1
  1 36 73 39 30 45 26 43  1  1  1  1  1  1  1  1  1  1 27  1  1  1  1 73
 73  1  1  1  1  1  2 10 40 14 73 45 14 41 38 48  1  1  2 32 14 32 23 24
 34 35  1  1  1 48 45  1  1  1  1 22  1  1  1  1 73  1  1  1  1  1 73  1
 73  2  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  6  6 21 25  1  6 14  2 19 32  2 10 18  6 29 28  2  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1 20
  3 10  1  1  1  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1
 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1
 73  1 73  1 73  1 73  1 73  2 73  1 73  1 73  1 73  1 73  1 73  1 73  6
 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73  1 73]

In [49]:
# number of selected features
print('\n Number of selected features:')
print (feat_selector.n_features_)

feature_df = pd.DataFrame(train.drop(['isFraud'], axis=1).columns.tolist(), columns=['features'])
feature_df['rank']=feat_selector.ranking_
feature_df = feature_df.sort_values('rank', ascending=True).reset_index(drop=True)
print('\n Top %d features:' % feat_selector.n_features_)
print(feature_df.head(feat_selector.n_features_))

 Number of selected features:
321

 Top 321 features:
                                      features  rank
0                                TransactionID     1
1                                   Vgroup_1_1     1
2                                   Vgroup_1_0     1
3                                   Vgroup_0_1     1
4                                   Vgroup_0_0     1
..                                         ...   ...
316                    groupby_card1_id_02_std     1
317  groupby_bank_type_TransactionAmt_std_norm     1
318                                   cos_hour     1
319               groupby_card1_id_02_std_norm     1
320                                 sinus_hour     1

[321 rows x 2 columns]

In [52]:
feature_df

                                      features  rank
0                                TransactionID     1
1                                   Vgroup_1_1     1
2                                   Vgroup_1_0     1
3                                   Vgroup_0_1     1
4                                   Vgroup_0_0     1
5               card3_DT_M_month_day_dist_best     1
6                         card3_DT_D_hour_dist     1
7                                     C11__C13     1
8                                 addr1__card1     1
9                                   Vgroup_1_2     1
10                        card5__P_emaildomain     1
11                                card1__card5     1
12                                card2__dist1     1
13                           P_emaildomain__C2     1
14                   DeviceInfo__P_emaildomain     1
15                             D11__DeviceInfo     1
16                                   id_02__D8     1
17                                id_02__id_20     1
18                  groupby_addr1_D15_std_norm     1
19                                card2__id_20     1
20                                  Vgroup_1_3     1
21                                  Vgroup_1_4     1
22                                  Vgroup_2_0     1
23                                  Vgroup_6_1     1
24                                  Vgroup_6_0     1
25                                  Vgroup_5_0     1
26                                  Vgroup_4_5     1
27                                  Vgroup_4_4     1
28                                  Vgroup_4_3     1
29                                  Vgroup_4_2     1
30                                  Vgroup_4_1     1
31                                  Vgroup_4_0     1
32                                  Vgroup_3_5     1
33                                  Vgroup_3_4     1
34                                  Vgroup_3_3     1
35                                  Vgroup_3_2     1
36                                  Vgroup_3_1     1
37                                  Vgroup_3_0     1
38                                  Vgroup_2_4     1
39                                  Vgroup_2_3     1
40                                  Vgroup_2_2     1
41                                  Vgroup_2_1     1
42                       groupby_addr1_D15_std     1
43                      groupby_addr1_D15_mean     1
44              groupby_bank_type_D15_std_norm     1
45                   groupby_bank_type_D15_std     1
46                     groupby_addr1_id_02_std     1
47                    groupby_addr1_id_02_mean     1
48            groupby_bank_type_id_02_std_norm     1
49                 groupby_bank_type_id_02_std     1
50                groupby_bank_type_id_02_mean     1
51                 groupby_uid5_id_02_std_norm     1
52                      groupby_uid5_id_02_std     1
53                     groupby_uid5_id_02_mean     1
54                 groupby_uid4_id_02_std_norm     1
55                      groupby_uid4_id_02_std     1
56                     groupby_uid4_id_02_mean     1
57                 groupby_uid3_id_02_std_norm     1
58                      groupby_uid3_id_02_std     1
59                     groupby_uid3_id_02_mean     1
60                 groupby_uid2_id_02_std_norm     1
61                      groupby_uid2_id_02_std     1
62                     groupby_uid2_id_02_mean     1
63                  groupby_uid_id_02_std_norm     1
64                       groupby_uid_id_02_std     1
65                groupby_addr1_id_02_std_norm     1
66                                  Vgroup_7_0     1
67                      groupby_card1_D15_mean     1
68                  groupby_card1_D15_std_norm     1
69                  groupby_bank_type_D15_mean     1
70                   groupby_uid5_D15_std_norm     1
71                        groupby_uid5_D15_std     1
72                       groupby_uid5_D15_mean     1
73                   groupby_uid4_D15_std_norm     1
74                        groupby_uid4_D15_std     1
75                       groupby_uid4_D15_mean     1
76                   groupby_uid3_D15_std_norm     1
77                        groupby_uid3_D15_std     1
78                       groupby_uid3_D15_mean     1
79                   groupby_uid2_D15_std_norm     1
80                        groupby_uid2_D15_std     1
81                   product_type_local_time_D     1
82                    groupby_uid_D15_std_norm     1
83                         groupby_uid_D15_std     1
84                        groupby_uid_D15_mean     1
85                  groupby_card4_D15_std_norm     1
86                       groupby_card4_D15_std     1
87                      groupby_card4_D15_mean     1
88                       groupby_card1_D15_std     1
89                      groupby_uid_id_02_mean     1
90                                  Vgroup_7_1     1
91                                  Vgroup_9_0     1
92                                   uid2_DT_D     1
93                                    uid_DT_D     1
94                           product_type_DT_W     1
95                              bank_type_DT_W     1
96                                   uid5_DT_W     1
97                                   uid4_DT_W     1
98                                   uid3_DT_W     1
99                                   uid2_DT_W     1
100                                  uid3_DT_D     1
101                                   uid_DT_W     1
102                             bank_type_DT_M     1
103                                  uid5_DT_M     1
104                                  uid4_DT_M     1
105                                  uid3_DT_M     1
106                                  uid2_DT_M     1
107                                   uid_DT_M     1
108                         local_time_D_total     1
109                         local_time_W_total     1
110                          product_type_DT_M     1
111                                  uid4_DT_D     1
112                                  uid5_DT_D     1
113                             bank_type_DT_D     1
114                     bank_type_local_time_D     1
115                          uid5_local_time_D     1
116                          uid4_local_time_D     1
117                          uid3_local_time_D     1
118                          uid2_local_time_D     1
119                           uid_local_time_D     1
120                  product_type_local_time_W     1
121                          uid5_local_time_W     1
122                          uid4_local_time_W     1
123                          uid3_local_time_W     1
124                          uid2_local_time_W     1
125                           uid_local_time_W     1
126                  product_type_local_time_M     1
127                          uid5_local_time_M     1
128                          uid4_local_time_M     1
129                          uid3_local_time_M     1
130                          uid2_local_time_M     1
131                           uid_local_time_M     1
132                          product_type_DT_D     1
133                         local_time_M_total     1
134                           bank_type_fq_enc     1
135                                uid5_fq_enc     1
136                                uid4_fq_enc     1
137                           id_36_count_dist     1
138                           id_33_count_dist     1
139                           id_31_count_dist     1
140                           id_01_count_dist     1
141                           id_36_count_full     1
142                           card6_count_full     1
143                           card5_count_full     1
144                           card4_count_full     1
145                           card3_count_full     1
146                           card2_count_full     1
147                           card1_count_full     1
148                                Vgroup_14_0     1
149                                Vgroup_13_1     1
150                                Vgroup_13_0     1
151                                Vgroup_12_0     1
152                                Vgroup_11_1     1
153                                Vgroup_11_0     1
154                                Vgroup_10_1     1
155                                Vgroup_10_0     1
156                               card1_fq_enc     1
157                                 Vgroup_8_0     1
158                               card2_fq_enc     1
159                               card5_fq_enc     1
160                                uid3_fq_enc     1
161                                uid2_fq_enc     1
162                                 uid_fq_enc     1
163                               id_33_fq_enc     1
164                        id_31_device_fq_enc     1
165                       id_30_version_fq_enc     1
166                            id_30_os_fq_enc     1
167                               id_30_fq_enc     1
168                  deviceInfo_version_fq_enc     1
169                   deviceInfo_device_fq_enc     1
170                          DeviceInfo_fq_enc     1
171                       R_emaildomain_fq_enc     1
172                       P_emaildomain_fq_enc     1
173                        product_type_fq_enc     1
174                           ProductCD_fq_enc     1
175                               dist2_fq_enc     1
176                               dist1_fq_enc     1
177                               addr2_fq_enc     1
178                               addr1_fq_enc     1
179                               card3_fq_enc     1
180               groupby_card4_id_02_std_norm     1
181                      groupby_uid2_D15_mean     1
182                   groupby_card4_id_02_mean     1
183                                      id_18     1
184                                      id_17     1
185                                      id_16     1
186                                      id_15     1
187                                      id_14     1
188                                      id_13     1
189                                      id_12     1
190                                      id_11     1
191                                      id_10     1
192                                      id_09     1
193                                      id_06     1
194                                      id_05     1
195                                      id_04     1
196                                      id_03     1
197                                      id_02     1
198                                      id_01     1
199                                         M6     1
200                                      id_19     1
201                                         M5     1
202                                      id_20     1
203                                      id_28     1
204                             device_version     1
205                                device_name     1
206                              id_30_version     1
207                                   id_30_os     1
208                                      card1     1
209                               id_31_device     1
210                          screen_resolution     1
211                              screen_height     1
212                               has_identity     1
213                                 DeviceType     1
214                                      id_38     1
215                                      id_37     1
216                                      id_36     1
217                                      id_35     1
218                                      id_34     1
219                                      id_32     1
220                                      id_29     1
221                    groupby_card4_id_02_std     1
222                                         M4     1
223                                         M3     1
224                                         M2     1
225                                        C12     1
226                                      addr1     1
227                                        C11     1
228                                        C10     1
229                                      addr2     1
230                                         C9     1
231                                         C8     1
232                                      dist1     1
233                                         C7     1
234                                         C6     1
235                                      dist2     1
236                                         C5     1
237                                         C4     1
238                              P_emaildomain     1
239                                         C3     1
240                                         C2     1
241                                         C1     1
242                                        C13     1
243                                      card6     1
244                                        C14     1
245                                         D1     1
246                                        D15     1
247                                        D14     1
248                                        D13     1
249                                        D12     1
250                                        D11     1
251                                        D10     1
252                                      card2     1
253                                         D9     1
254                          deviceInfo_device     1
255                                         D8     1
256                                         D7     1
257                                         D6     1
258                                      card4     1
259                                         D5     1
260                                         D4     1
261                                      card5     1
262                                         D3     1
263                                         D2     1
264                                      card3     1
265                                  ProductCD     1
266                               screen_width     1
267                              R_emaildomain     1
268                       R_emaildomain_suffix     1
269                          R_emaildomain_bin     1
270                       P_emaildomain_suffix     1
271                          P_emaildomain_bin     1
272                                email_check     1
273            groupby_uid5_TransactionAmt_std     1
274                       TransactionAmt_check     1
275                               product_type     1
276                             TransactionAmt     1
277                         TransactionAmt_Log     1
278                                  W_0_cents     1
279                  TransactionAmt_n_decimals     1
280       groupby_uid5_TransactionAmt_std_norm     1
281                       TransactionAmt_cents     1
282            groupby_uid2_TransactionAmt_std     1
283      groupby_bank_type_TransactionAmt_mean     1
284       groupby_bank_type_TransactionAmt_std     1
285                        local_time_cos_hour     1
286                                 W_95_cents     1
287                      local_time_sinus_hour     1
288                                       M_na     1
289       groupby_uid4_TransactionAmt_std_norm     1
290           groupby_uid3_TransactionAmt_mean     1
291           groupby_uid2_TransactionAmt_mean     1
292        groupby_uid_TransactionAmt_std_norm     1
293            groupby_uid3_TransactionAmt_std     1
294             groupby_uid_TransactionAmt_std     1
295            groupby_uid_TransactionAmt_mean     1
296      groupby_card4_TransactionAmt_std_norm     1
297       groupby_uid3_TransactionAmt_std_norm     1
298           groupby_uid5_TransactionAmt_mean     1
299           groupby_card4_TransactionAmt_std     1
300      groupby_card1_TransactionAmt_std_norm     1
301           groupby_uid4_TransactionAmt_mean     1
302           groupby_card1_TransactionAmt_std     1
303          groupby_card1_TransactionAmt_mean     1
304                                  D2_scaled     1
305            groupby_uid4_TransactionAmt_std     1
306                                  D1_scaled     1
307                         D8_D9_decimal_dist     1
308          groupby_card4_TransactionAmt_mean     1
309                         local_time_evening     1
310                        TransactionAmt_main     1
311       groupby_uid2_TransactionAmt_std_norm     1
312      groupby_addr1_TransactionAmt_std_norm     1
313                   groupby_card1_id_02_mean     1
314           groupby_addr1_TransactionAmt_std     1
315          groupby_addr1_TransactionAmt_mean     1
316                    groupby_card1_id_02_std     1
317  groupby_bank_type_TransactionAmt_std_norm     1
318                                   cos_hour     1
319               groupby_card1_id_02_std_norm     1
320                                 sinus_hour     1
321                     bank_type_local_time_M     2
322             card5_DT_M_month_day_dist_best     2
323                         deviceInfo_version     2
324                                         M9     2
325                            local_time_hour     2
326         bank_type_DT_M_month_day_dist_best     2
327                  card5_DT_M_month_day_dist     2
328                            D8_not_same_day     2
329                                 DT_W_total     3
330                                         M1     3
331              bank_type_DT_M_month_day_dist     6
332                       card5_DT_D_hour_dist     6
333                  card3_DT_M_month_day_dist     6
334                     bank_type_local_time_W     6
335                   card3_DT_W_week_day_dist     6
336                                    DT_hour    10
337                   bank_type_DT_D_hour_dist    10
338                                 DT_D_total    10
339                               DT_day_month    14
340                             local_time_day    14
341                                   DT_night    14
342                   card5_DT_W_week_day_dist    14
343                                         M8    17
344                                         M7    17
345               bank_type_DT_W_week_day_dist    18
346                  card5_DT_D_hour_dist_best    19
347                                 DT_M_total    20
348                  card3_DT_D_hour_dist_best    21
349                                 W_50_cents    22
350                         local_time_weekend    23
351                           local_time_night    24
352              card3_DT_W_week_day_dist_best    25
353                                      id_26    26
354                            lastest_browser    27
355          bank_type_DT_W_week_day_dist_best    28
356              bank_type_DT_D_hour_dist_best    29
357                                      id_24    30
358                        local_time_day_week    32
359                         local_time_weekday    32
360              card5_DT_W_week_day_dist_best    32
361                         local_time_morning    34
362                       local_time_afternoon    35
363                                      id_21    36
364                                      id_08    37
365                               DT_afternoon    38
366                                      id_23    39
367                                DT_day_week    40
368                                 DT_morning    41
369                                      id_07    42
370                                      id_27    43
371                                 DT_weekend    45
372                                 is_holiday    45
373                                      id_25    45
374                                 DT_evening    48
375                                is_december    48

In [ ]:
selected = train.drop(['isFraud'], axis=1).columns[feat_selector.support_]
train = train[selected]
train['id'] = tr_ids
train['target'] = y
train = train.set_index('id')
train.to_csv('train_boruta_filtered.csv', index_label='id')
test = test[selected]
test['id'] = te_ids
test = test.set_index('id')
test.to_csv('test_boruta_filtered.csv', index_label='id')