# Simple XGBoost and LightGBM
 
Copying the [simple XGBoost submission](https://www.kaggle.com/inversion/ieee-simple-xgboost).

In [1]:
%load_ext autoreload
%autoreload 2

In [9]:
from src.dataset.make_dataset import Dataset
from src.features.build_features import label_encode
from src.models.train_model import train_xgb, train_lgb
from src.models.predict_model import write_submission

%matplotlib inline

In [5]:
ds = Dataset()
ds.load_dataset()

In [6]:
ds.X_train.head(5)

,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
TransactionID,,,,,,,,,,,,,,,,,,,,,
2987000,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,315.0,...,None,255,None,None,None,None,None,None,None,None
2987001,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,325.0,...,None,255,None,None,None,None,None,None,None,None
2987002,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,330.0,...,None,255,None,None,None,None,None,None,None,None
2987003,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,476.0,...,None,255,None,None,None,None,None,None,None,None
2987004,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,420.0,...,samsung browser 6.2,32,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [7]:
label_encode(ds)

In [10]:
xgb_clf = train_xgb(ds)

In [ ]:
lgb_clf = train_lgb(ds)

In [14]:
write_submission(ds, xgb_clf, "../../data/submissions/simple_xgboost.csv")
write_submission(ds, lgb_clf, "../../data/submissions/simple_lightgbm.csv")

In [11]:
# save model to file
import pickle
pickle.dump(xgb_clf, open("../../models/simple_xgb.pickle.dat", "wb"))
pickle.dump(lgb_clf, open("../../models/simple_lgb.pickle.dat", "wb"))